.DS_Store

node_modules/
dist/
.next/
ts-dist/

# Package lock - use bun
package-lock.json

# Build outputs
*.log
*.tmp

# Electron
electron/resources/win-iconset/
Thumbs.db
Bible Song Pro_Screenshot/.DS_Store